<css>
* { margin: 0; padding: 0; }
body { font: 100.01% monospace; }
pre { font-family: monospace; }
.element { color: #070; }
.attribute { color: #700; }
.text { color: #007; }
.attribute-value { color: #404; }
.comment { color: #333; font-style: italic; }
.processing-instruction { color: #044; }
</css>
